<div ...attributes>
  <h3>{{@title}}  </h3>
  {{#draggable-object-target tagName="div" action=this.dropBehaviour}}
    {{#each @behaviours as |behaviour|}}
      {{#draggable-object content=behaviour}}
        <BehaviourList::BehaviourItem @description={{behaviour.description}} />
      {{/draggable-object}}
    {{/each}}

    {{!--Gross little fix for dodgy ember-drag-drop behaviour https://github.com/mharris717/ember-drag-drop/issues/67--}}
    <div class="w-full h-12 border border-grey-black h-25"></div>
  {{/draggable-object-target}}
</div>