<div ...attributes>
  <h3>{{@title}}  </h3>
  {{#sortable-objects sortableObjectList=this.behaviours sortingScope="behaviours"}}
    {{#each this.behaviours as |behaviour|}}
      {{#draggable-object content=behaviour  overrideClass="sortObject" isSortable=true sortingScope="behaviours"}}

        {{!--Gross little fix for dodgy ember-drag-drop behaviour https://github.com/mharris717/ember-drag-drop/issues/67--}}
        {{#if behaviour.hidden}}
          <div class="w-full h-8 border border-grey-black h-25"></div>
        {{else}}
          <BehaviourList::BehaviourItem @description={{behaviour.description}} />
        {{/if}}
      {{/draggable-object}}
    {{/each}}
  {{/sortable-objects}}
</div>