<h1>Admin</h1>
<ul>
  <li>{{#link-to "behaviour.new"}}Add new behaviour{{/link-to}}</li>
  <li>{{#link-to "results"}}Results{{/link-to}}</li>
</ul>

<h2>Behaviours</h2>
<ul>
  {{#each this.model as |behaviour|}}
    <AdminBehaviourItem @behaviour={{behaviour}} @deleteBehaviour={{action this.deleteBehaviour behaviour}}/>
  {{/each}}
</ul>
<div class="my-4 p-4">
  <button class="border p-2 rounded border-grey bg-grey-light shadow-lg hover:shadow hover:bg-grey" {{action this.randomGroupAssign}}>Randomise groups</button>
</div>