<div class="flex flex-col content-center justify-center h-screen">
  {{#each this.model as |team|}}
    {{#link-to "main" team.id class="no-underline"}}
      <TeamLogin @name={{team.name}} />
    {{/link-to}}
  {{/each}}
</div>